*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f4f7fb,#e9eef5);
}

.container{
    width:900px;
    max-width:95%;
    height:520px;
    background:#fff;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    position:relative;
    overflow:hidden;
}

.form-wrapper{
    width:50%;
    height:100%;
    position:absolute;
    top:0;
    padding:60px;
    transition:.6s ease;
}

.login{
    left:0;
    z-index:2;
}

.signup{
    left:0;
    opacity:0;
    z-index:1;
}

.container.active .login{
    transform:translateX(100%);
    opacity:0;
}

.container.active .signup{
    transform:translateX(100%);
    opacity:1;
    z-index:2;
}

h2{
    font-weight:600;
    margin-bottom:10px;
    color:rgb(255, 255, 255);
}

p{
    font-size:14px;
    color:rgb(78, 75, 75);
    margin-bottom:30px;
}

.input-box{
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #ddd;
    outline:none;
    font-size:14px;
}

.btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#5c7cfa;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#4c6ef5;
}

.switch-panel{
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100%;
    background:linear-gradient(135deg,#5c7cfa,#748ffc);
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:40px;
    transition:.6s ease;
    z-index:3;
}

.container.active .switch-panel{
    transform:translateX(-100%);
}

.switch-panel h2{
    font-size:28px;
    margin-bottom:15px;
}

.switch-panel p{
    font-size:14px;
    margin-bottom:30px;
}

.switch-btn{
    padding:12px 30px;
    border:2px solid #fff;
    background:transparent;
    color:#fff;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}

.switch-btn:hover{
    background:#fff;
    color:#5c7cfa;
}

@media(max-width:768px){
    .container{
        height:auto;
    }
    .form-wrapper,
    .switch-panel{
        width:100%;
        position:relative;
        transform:none !important;
    }
}